<head>
    <link rel="stylesheet" href="/src/components/profile/myProfile.css">
</head>
<div class="user-card">
    <h2>your Profile</h2>
    <p><strong>Name:</strong> <span class="highlight">{{ user.firstName }} {{ user.lastName }}</span></p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>City:</strong> {{ user.city }}</p>
    <p><strong>Aadhaar:</strong> {{ user.adhaar }}</p>
</div>

<div class="added-cars">
    <h3>Added Cars</h3>
    <ul>
        <li ng-repeat="car in userCars">
            <img ng-src="{{ car.vehicleImages[0] }}" alt="{{ car.carName }}" class="car-image">
            <p><strong>Price :</strong>{{ car.carPrice }} per day</p>
            <p><strong>Model:</strong> {{ car.carName }}</p>
            <p><strong>type:</strong> {{ car.carType }}</p>
            <p><strong>category:</strong> {{ car.category }}</p>
            <p><strong>car status:</strong> {{ car.isApproved }}</p>
            
            <button ng-click="deleteCar(car.id)" ng-hide="car.deleted" >deleteCar</button>
            <h1 ng-show="car.deleted">deleted</h1>
        </li>
    </ul>
</div>
