<head>
    <link rel="stylesheet" href="/src/components/booking/userBookings/myBiddings.css">
</head>


<div class="container">
    <h1 ng-show="bookings.length>0">Your Biddings</h1>
    <h1 ng-show="bookings.length===0">NO BIDDINGS</h1>

    <div class="filters" ng-show="bookings.length>0">
        <input type="text" ng-model="searchCarName" placeholder="Search by Car Name" />
    </div>
<table class="bidding-table" ng-show="bookings.length>0">
    <thead>
        <tr>
            <th>Car Name</th>
            <th>Model</th>
            <th>Type</th>
            <th>Category</th>
            <th>Price/Day</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            <th>Username</th>
            <th>Email</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="booking in bookings|ownerBookingFilter:searchCarName | orderBy: '-createdAt'">
            <td>{{booking.vehicle.carName}}</td>
            <td>{{booking.vehicle.carModel}}</td>
            <td>{{booking.vehicle.carType}}</td>
            <td>{{booking.vehicle.car_no}}</td>
            <td>{{booking.vehicle.carPrice}}</td>
            <td>{{booking.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{booking.endDate | date:'yyyy-MM-dd'}}</td>
            <td>${{calculateBookingPrice(booking.startDate, booking.endDate, booking.amount)}}</td>
   
            <td>{{booking.owner.username}}</td>
            <td>{{booking.owner.email}}</td>
            <td>{{booking.status}}</td>
        </tr>
    </tbody>
</table>


</div>