
.bidding-table {
    width: 80%;
    border-collapse: collapse;
    
}

.bidding-table th, .bidding-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.bidding-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.bidding-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #b3afaf;
}
