<div class="sidebar">
    <div class="logo">
        <h2>Admin Portal</h2>
    </div>
    <ul class="nav-links">
        <li><a href="#"><i class="fas fa-home"></i> Car approvals</a></li>
        <li><a href="#"><i class="fas fa-car"></i> User management</a></li>
        <li><a href="#"><i class="fas fa-user"></i> Product Analysis</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Delete cart</a></li>
        <li id="logout"><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>

<div id="car-approvals">
    
    </div>
</div>

