<head>
    <link rel="stylesheet" href="components/admin/admin.home.css">
    <!-- <script src="admin.controller.js"></script> -->
</head>

<div class="sidebar">
    <div class="logo">
        <h2 ui-sref="admin">Admin Portal</h2>
    </div>
    <ul class="nav-links">
        <li><a ui-sref="admin.carApprovals"> 🚗 Car approvals</a></li>
        <li><a ui-sref="admin.userManagement">👨🏻‍💻 User management</a></li>
        <li><a ui-sref="admin.analytics">📈 Product Analysis</a></li>
        <li id="logout" ng-click="adminLogout()">  Logout</a></li>
    </ul>
</div>
   <div ui-view="adminContent">
      <h1>welcome to admin portal</h1>
   </div>
</div>
</div>

