  
<head>
    <link rel="stylesheet" href="components/home/home.style.css">
</head>
  
  <!-- cars listing -->
  <div id="cars-listing">
    <h2>Available Cars</h2>
    <div id="cars">
        
    </div>
</div>

<div id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h2>User Details</h2>
        <button id="close-sidebar">&times;</button>
    </div>
    <div class="sidebar-content">
        <p><strong>Username:</strong> <span id="user-name"></span></p>
        <p><strong>Email:</strong> <span id="user-email"></span></p>
        <p><strong>Role:</strong> <span id="user-role"></span></p>
        <p><strong>City:</strong> <span id="user-city"></span></p>
        <p><strong>user-since:</strong> <span id="user-since"></span></p>
    </div>
</div>
