.booking-container {
    width: 90%; /* Reduce the width slightly to fit 3 items in view */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-container h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.booking-container p {
    font-size: 16px;
    line-height: 1.6;
    margin: 5px 0;
}

.booking-container h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #34495e;
}

.booking-container ul {
    list-style-type: none;
    padding: 0;
}

.booking-container ul li {
    background-color: #ecf0f1;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}

.vehicle-images img {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

hr {
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-section {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section p {
    margin: 10px 0;
}

.confirmed-bookings {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    padding: 80px;
}