
<head>
    <title>Confirmed Bookings</title>
    <link rel="stylesheet" href="/src/components/booking/ownerBookings/confirmedBookings.css">
</head>
<body ng-controller="confirmedBookingsCtrl" .class="confimed-Bookings" >
    <h1>Confirmed Bookings</h1>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Total Payable Amount</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Owner Details</th>
                <th>Vehicle Details</th>
                <th>Manage Booking</th>
                <th>Vehicle Images</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="booking in bookings | orderBy : '-createdAt'">
                <td>{{booking.id}}</td>
                <td>${{calculateBookingPrice(booking.startDate, booking.endDate, booking.amount)}}</td>
                <td>{{booking.startDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{booking.endDate | date: 'yyyy-MM-dd'}}</td>
                <td>
                    <p>First Name: {{booking.owner.firstName}}</p>
                    <p>Last Name: {{booking.owner.lastName}}</p>
                    <p>Username: {{booking.owner.username}}</p>
                    <p>Email: {{booking.owner.email}}</p>
                </td>
                <td>
                    <p>Car No: {{booking.vehicle.car_no}}</p>
                    <p>Car Name: {{booking.vehicle.carName}}</p>
                    <p>Car Model: {{booking.vehicle.carModel}}</p>
                    <p>Car Type: {{booking.vehicle.carType}}</p>
                    <p>Car Price: {{booking.vehicle.carPrice}}</p>
                    <p>Category: {{booking.vehicle.category}}</p>
                    <p>Mileage: {{booking.vehicle.mileage}} kmpl</p>
                </td>
                <td>
                    <button ng-click="handleManageBookings(booking.id) " ng-if="todayBooking(booking)">Manage Booking</button>
                    <h1 ng-if="!todayBooking(booking)">{{booking.startDate | date: 'yyyy-MM-dd'}}</h1>
                </td>
                <td>
                    <div>
                        <img ng-src="{{booking.vehicle.vehicleImages[0]}}" alt="Vehicle Image" width="100">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

