<head>
    <link rel="stylesheet" href="/src/components/booking/ownerBookings/manageBookings.css">
    
</head>


<div ng-init="init()" ng-hide="ended">
    <h1>Manage bookings</h1>
    <div ng-show="!started">
        <input type="number" ng-model="startOdometerValue" placeholder="Start Odometer Value">
        <button ng-click="startTrip()">Start Trip</button>
    </div>
    <div ng-show="started">
        <input type="number" ng-model="endOdometerValue" placeholder="End Odometer Value">
        <button ng-click="endTrip()">End Trip</button>
    </div>
</div>
<div ng-hide ='!ended'>
    booking ended
    <button ng-click="downloadBillAsPDF()">download invoice</button>
</div>