

.bidding-requests {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
    padding: 80px;
}



.bidding-requests h1 {

    font-size: 24px;
    color: #333;
}


.bidding-details {
    flex: 1 1 calc(33.33% - 20px); 
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.bidding-details h2 {

    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.bidding-details p {

    margin-bottom: 5px;
}

.bidding-details ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bidding-details li {

    margin-bottom: 5px;
}

.bidding-details button {

    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.bidding-details button:hover {
    background-color: #0056b3;
}