<head>
    <link rel="stylesheet" href="/src/components/booking/ownerBookings/ownerBookings.css">
</head>

<h1> Biddings {{test}}</h1>

<!-- Container for all bookings -->
<div class="bidding-requests">
    <!-- Loop through bookings -->
    <div class="bidding-details" ng-repeat="booking in bookings | orderBy: '-createdAt'">
        <h2>Car Details</h2>
        <p><strong>Car Name:</strong> {{booking.vehicle.carName}}</p>
        <p><strong>Car Model:</strong> {{booking.vehicle.carModel}} </p>
        <p><strong>Car Type:</strong>  {{booking.vehicle.carType}}</p>
        <p><strong>Car Number:</strong> {{booking.vehicle.car_no}}</p>
        <p><strong>Category:</strong> {{booking.vehicle.category}}</p>
        <p><strong>Price:</strong> ${{booking.vehicle.carPrice}} per day</p>
        <h2>Bid details</h2>
        <ul>
            <li>$ {{booking.amount}} per day</li>
            <li>Start Date: {{ booking.startDate | date:'yyyy-MM-dd' }}</li>
            <li>End Date: {{booking.endDate | date: 'yyyy-MM-dd'}} </li>
            <li>Total Payable Price: ${{calculateBookingPrice(booking.startDate, booking.endDate, booking.amount )}} </li>
            <li>Booking Status: {{booking.status}}</li>
        </ul>
        <h2>User Details</h2>
        <p><strong>First Name:</strong> {{booking.from.firstName}}</p>
        <p><strong>Last Name:</strong> {{booking.from.lastName}}</p>
        <p><strong>Username:</strong> {{booking.from.username}}</p>
        <p><strong>Email:</strong> {{booking.from.email}}</p>
        <button ng-click="approveBidding(booking.id)" ng-if="!checkApproved(booking)">Approve Bidding</button>
        <button ng-click="rejectBidding(booking.id)" ng-if="!checkApproved(booking)" >reject Bidding</button>
    </div>
</div>
