<head>
    <link rel="stylesheet" href="/src/components/admin/carApprovals/carApprovals.css">
</head>

<div class="car-container">
    <!-- Loop through cars dynamically -->
    <div ng-repeat="car in cars" class="car-container">
        <div class="car-card">
            <img ng-src="{{ car.vehicleImages[0]  }}" alt="{{ car.carName }}">
            <div class="car-details">
                <h2>{{ car.carName }} ({{ car.carModel }})</h2>
                <p><strong>Price:</strong> ${{ car.carPrice }}</p>
                <p><strong>Type:</strong> {{ car.carType }}</p>
                <p><strong>Category:</strong> {{ car.category }}</p>
                <p><strong>Mileage:</strong> {{ car.mileage }} kmpl</p>
                <p><strong>Car No:</strong> {{ car.car_no }}</p>
                <div class="features">
                    <strong>Features:</strong>
                    <span ng-if="car.features.GPS">GPS,</span>
                    <span ng-if="car.features.Sunroof">Sunroof,</span>
                    <span ng-if="car.features.Bluetooth">Bluetooth,</span>
                    <span ng-if="car.features.RearCamera">Rear Camera,</span>
                    <span ng-if="car.features.HeatedSeats">Heated Seats</span>
                </div>
                <div class="owner" >
                    <strong>Owner:</strong> {{ car.owner.firstName }} {{ car.owner.lastName }}
                    <strong>Owner username:</strong> {{ car.owner.username }}
                    <strong>Owner city</strong> {{ car.owner.city }}
                    <strong>Owner adhaar no</strong> {{ car.owner.adhaar }}
                </div>
            </div><div class="approve/reject-button">
                <button ng-click="approveCar(car.id)">Approve</button>
                <button ng-click="rejectCar(car.id)">Reject</button>
            </div>
            </div>
      
    </div>
    
</div>