<head>
  <link rel="stylesheet" href="/src/components/auth/signup.style.css" />
  <script src="signup.controller.js"></script>
</head>

<form id="userForm" name="userForm" ng-submit="signup()" ng-controller="signupCtrl" novalidate>

  <h1>Sign up</h1>

  <!-- First Name -->
  <label>Name:</label>
  <input type="text" id="firstName" name="firstName" placeholder="Enter your first name"
         ng-model="firstName" ng-required="true" />
  <span ng-show="userForm.firstName.$error.required && userForm.firstName.$touched" style="color:red;">
    First Name is required.
  </span>

  <!-- Last Name -->
  <label>Last Name:</label>
  <input type="text" id="lastName" name="lastName" placeholder="Enter your last name"
         ng-model="lastName" ng-required="true" />
  <span ng-show="userForm.lastName.$error.required && userForm.lastName.$touched" style="color:red;">
    Last Name is required.
  </span>

  <!-- Username -->
  <label>Username:</label>
  <input type="text" id="username" name="username" placeholder="Enter your username"
         ng-model="username" ng-required="true" ng-minlength="5" />
  <span ng-show="userForm.username.$error.required && userForm.username.$touched" style="color:red;">
    Username is required.
  </span>
  <span ng-show="userForm.username.$error.minlength && userForm.username.$touched" style="color:red;">
    Username must be at least 5 characters.
  </span>

  <!-- Email -->
  <label>Email:</label>
  <input type="email" id="email" name="email" placeholder="Enter your valid email"
         ng-model="email" ng-required="true" />
  <span ng-show="userForm.email.$error.required && userForm.email.$touched" style="color:red;">
    Email is required.
  </span>
  <span ng-show="userForm.email.$error.email && userForm.email.$touched" style="color:red;">
    Enter a valid email address.
  </span>

  <!-- Password -->
  <label>Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter a password"
         ng-model="password" ng-required="true" ng-minlength="6" />
  <span ng-show="userForm.password.$error.required && userForm.password.$touched" style="color:red;">
    Password is required.
  </span>
  <span ng-show="userForm.password.$error.minlength && userForm.password.$touched" style="color:red;">
    Password must be at least 6 characters.
  </span>

  <!-- Confirm Password -->
  <label>Confirm Password:</label>
  <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your password"
         ng-model="confirmPassword" ng-required="true" />
  <span ng-show="userForm.confirmPassword.$error.required && userForm.confirmPassword.$touched" style="color:red;">
    Confirm Password is required.
  </span>
  <span ng-show="confirmPassword !== password && userForm.confirmPassword.$touched" style="color:red;">
    Passwords do not match.
  </span>

  <!-- City -->
  <label>City:</label>
  <select id="city" name="city" ng-model="city" ng-required="true">
    <option value="" disabled selected>Please select your city</option>
    <option value="Delhi">Delhi</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Gwalior">Gwalior</option> 
    <option value="Bhind">Bhind</option>
    <option value="Gurugram">Gurugram</option>
    <option value="Agra">Agra</option>
    <option value="Shiv puri">Shiv Puri</option>
  </select>
  <span ng-show="userForm.city.$error.required && userForm.city.$touched" style="color:red;">
    Please select a city.
  </span>

  <!-- Aadhaar Number -->
  <label>Aadhaar Number:</label>
  <input type="number" id="adhaar" name="adhaar" placeholder="Enter Aadhaar number"
         ng-model="adhaar" ng-required="true" ng-pattern="/^\d{12}$/" />
  <span ng-show="userForm.adhaar.$error.required && userForm.adhaar.$touched" style="color:red;">
    Aadhaar number is required and should be numbers
  </span>
  <span ng-show="userForm.adhaar.$error.pattern && userForm.adhaar.$touched" style="color:red;">
    Aadhaar must be exactly 12 digits.
  </span>

  <!-- Login Link -->
  <span id="login-href">Already a user? <a ui-sref="login">Login</a></span>

  <!-- Submit Button -->
  <button id="submit-button" type="submit" ng-disabled="userForm.$invalid">Submit</button>

</form>
